<md-toolbar>
  <mad-back-toolbar-button></mad-back-toolbar-button>
  <span class="toolbar-spacer"></span>
  <button md-button color="primary" (click)="logout()">Sign out</button>
</md-toolbar>
<md-nav-list>
  <md-list-item>
    <a md-line routerLink="/notifications">Notifications</a>
    <md-icon>notifications_none</md-icon>
  </md-list-item>
  <md-list-item>
    <a md-line routerLink="/user/profile">Profile</a>
    <md-icon>person</md-icon>
  </md-list-item>
  <md-list-item>
    <a md-line routerLink="/user/settings">Settings</a>
    <md-icon>settings</md-icon>
  </md-list-item>
</md-nav-list>
