:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  background: black;
}

.splash {
  width: 100%;
  min-height: 300px;

  background: url(/assets/images/after_dark.jpg) no-repeat;
  background-size: contain;
  background-position: center;
}

button.google span {
  padding-left: 30px;

  background: url(/assets/images/google_logo.svg) no-repeat;
  font-size: 1.175em;
  font-weight: 400;
}
