:host {
  display: flex;
  flex-direction: 1;
  align-items: center;
  justify-content: center;
  height: 100%;

  background: black;
}

button.google span {
  padding-left: 30px;

  background: url(/assets/images/google_logo.svg) no-repeat;
  font-size: 1.175em;
  font-weight: 400;
}
