<md-grid-list cols="3" rowHeight="1:1">
  <md-grid-tile>
    <div class="button-container">
      <button md-icon-button>
        <md-icon color="primary">android</md-icon>
      </button>
      <span>FPO</span>
    </div>
  </md-grid-tile>
  <md-grid-tile>
    <div class="button-container">
      <button md-icon-button>
        <md-icon color="primary">local_bar</md-icon>
      </button>
      <span>FPO</span>
    </div>
  </md-grid-tile>
  <md-grid-tile>
    <div class="button-container">
      <button md-icon-button>
        <md-icon color="primary">build</md-icon>
      </button>
      <span>FPO</span>
    </div>
  </md-grid-tile>
  <md-grid-tile>
    <div class="button-container">
      <button md-icon-button>
        <md-icon color="primary">casino</md-icon>
      </button>
      <span>FPO</span>
    </div>
  </md-grid-tile>
  <md-grid-tile>
    <div class="button-container">
      <button md-icon-button>
        <md-icon color="primary">local_dining</md-icon>
      </button>
      <span>FPO</span>
    </div>
  </md-grid-tile>
  <md-grid-tile>
    <div class="button-container">
      <button md-icon-button>
        <md-icon color="primary">local_cafe</md-icon>
      </button>
      <span>FPO</span>
    </div>
  </md-grid-tile>
</md-grid-list>
