/* ==========================================================================
   Override Material Design styles. Try to minimize these.
   ========================================================================== */

// Dialog

md-dialog-container {
  background: black !important;
  color: #a5cc00 !important;
}

// List

md-list-item {
  color: #a5cc00 !important;
}

// Checkbox

.mat-checkbox-inner-container {
  background-color: black !important;
}

.mat-checkbox-frame {
  border-color: #a5cc00 !important;
}

.mat-checkbox-label {
  color: #a5cc00 !important;
}

// Select

.mat-select-trigger,
.mat-select-value,
.mat-select-arrow {
  color: #a5cc00 !important;
}

.mat-select-underline {
  background-color: #a5cc00 !important;
}
