<md-toolbar>
  <button md-icon-button (click)="openLayersDialog()">
    <md-icon>layers</md-icon>
  </button>
  <div class="toolbar-spacer"></div>
  <mad-notifications-toolbar-button></mad-notifications-toolbar-button>
</md-toolbar>
<mb-map #map mb-style="mapbox://styles/mapbox/dark-v9" [center]="mapCenter | async" [zoom]="mapZoom | async" (click)="onMapClick($event)" (moveend)="onMapMoveend($event)">
  <mb-geojson-source mb-id="layers" [data]="layerData | async"></mb-geojson-source>
  <mb-layer id="layers" source="layers" type="circle" [paint]="{ 'circle-radius': 5, 'circle-color': '#a5cc00' }" [filter]="layerFilter | async"></mb-layer>
  <mb-marker
    [lngLat]="geolocationPositionLngLat | async"
    [element]="geolocationMarker"
  ></mb-marker>
</mb-map>
