<md-toolbar>
  <mad-back-toolbar-button text="Explore"></mad-back-toolbar-button>
</md-toolbar>

<ul class="friends-list">
  <li *ngFor="let friend of mockFriends">
    <div class="friend">
      <span class="friend-info">
        <img mad-avatar [src]="friend.avatar" class="friend-avatar">
        <p>{{friend.name}}</p>
      </span>
      <md-checkbox color="primary"></md-checkbox>
    </div>
  </li>
</ul>

<div class="share-with-all">
  <md-checkbox color="primary">Share location with everyone</md-checkbox>
</div>

<div class="share-container">
  <button md-fab class="share-button"> Start </button>
</div>
