:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: black;
}

md-toolbar {
  color: #a5cc00 !important;
  background-color: black;
  border-bottom: 1px solid;
}

.friends-list {
  color: white;
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}

.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;

  border-bottom: 1px solid #a5cc00;
}

.friend-avatar {
  margin-right: 10px;
}

.friend-info {
  display: flex;
  align-items: center;
}

.share-with-all {
  margin-left: 20px;
}

.share-container {
  margin-top: 20px;
  text-align: center;
}

.share-button {
  background-color: #a5cc00;
}
