$mad-app-layout-toolbar-height: 56px;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
  overflow: hidden;
}

.toolbar {
  height: $mad-app-layout-toolbar-height;
}
