<md-toolbar>
  <div class="button-layout">
    <button md-icon-button>
      <md-icon color="primary">search</md-icon>
    </button>
    <label>Explore</label>
  </div>
  <div class="button-layout">
    <button md-icon-button>
      <md-icon color="primary">perm_identity</md-icon>
    </button>
    <label>Friends</label>
  </div>
  <div class="button-layout">
    <button md-icon-button>
      <md-icon color="primary">explore</md-icon>
    </button>
    <label>Find Me</label>
  </div>
  <div class="button-layout">
    <button md-icon-button>
      <md-icon color="primary">directions_car</md-icon>
    </button>
    <label>Go</label>
  </div>
  <div class="button-layout">
    <button md-icon-button>
      <md-icon color="primary">more_horiz</md-icon>
    </button>
    <label>More</label>
  </div>
</md-toolbar>

