<md-toolbar>
  <div class="button-layout">
    <a routerLink="/" md-icon-button>
      <md-icon color="primary">search</md-icon>
    </a>
    <label>Explore</label>
  </div>
  <div class="button-layout">
    <a routerLink="/friends" md-icon-button>
      <md-icon color="primary">perm_identity</md-icon>
    </a>
    <label>Friends</label>
  </div>
  <div class="button-layout">
    <a routerLink="/explore" md-icon-button>
      <md-icon color="primary">explore</md-icon>
    </a>
    <label>Find Me</label>
  </div>
  <div class="button-layout">
    <a routerLink="/go" md-icon-button>
      <md-icon color="primary">directions_car</md-icon>
    </a>
    <label>Go</label>
  </div>
  <div class="button-layout">
    <a routerLink="/more" md-icon-button>
      <md-icon color="primary">more_horiz</md-icon>
    </a>
    <label>More</label>
  </div>
</md-toolbar>

